body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #676666;
    box-sizing: border-box;
}
.grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "header" 
    "nav" 
    "main";
    width: 100vw;
    min-width: 300px;
}
header{
  grid-area: header;
  background-color: #EB0909;
  display: flex;
  padding-top: 8px;
  color: #fff;
}
nav{
  grid-area: nav;
  background-color: #B90404;
}

main{
  grid-area: main;
  display: grid;
}
.widget-container-full, .widget-container-half{
  width: 90vw;
}

/* .daily,
.mobile-user,
.members,
.activity,
.message,
.settings,
.social-section{
  padding: 20px;
  border: 1px solid #ddd;
} */
/* .traffic{
  padding: 20px;
} */
.traffic,
.daily,
.mobile-user,
.members,
.activity,
.message,
.settings,
.social-section{
  width: 90%;
  margin: 0 auto;
  display: block;
}
/* header styles ----------------------- */
h1{
  margin-left: 25px;
  font-weight: 100;
}
#bell{
  width: 30px;
  margin-left: auto;
  padding-right: 15px;
  padding-top: 5px;
  position: relative;
  transition: .3s ease;
}
#bell:hover {
  transform: rotate(-10deg) scale(1.15);
  cursor: pointer;
}
#notifications{
  background-color: #09EB23;
  height: 10px; 
  width: 10px;
  position: absolute;
  top: 5px ;
  left: 15px;
  border-radius: 50%;

}
.user{
  display: flex;
  align-content: center;
  border-left: 1px solid #fff;
  margin-bottom: 5px;
}
.user-photo{
  width:35px;
  height: 35px;
  border-radius: 50%;
  padding: 0 15px;
}
.user-name{
  padding-right: 25px;
  padding-top: 10px;
  display: none;
}

/* navigation styles ----------------------- */
.navigation{
  display:block;
  margin: 0 auto;
  text-align: center;
}
nav img{
  display: inline-block;
  width: 30px;
  padding: 10px;
}
.active{
  border-bottom: 4px solid#fff;
  border-left: 4px solid #B90404;
  border-right: 4px solid#B90404;
  margin-bottom: -4px;
}

/* Main Section Styles ----------------------- */
.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.main-header-search{
  display: flex;
  align-content: center;
  justify-content: flex-end;
  margin: 0;
  padding: 20px;
  width: 80%;
}
.main-header-search input{
  width: 80%;
  height: 40px;
  border-radius: 3px;
  border: 2px solid #dbdbdb;
  padding-left: 15px;
} 
.headline{
  padding-left: 20px;
}
/* Web Traffic Styles ----------------------- */
.traffic-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 12px;
}
.traffic h3{
  width: 50%;
}
.traffic-nav{
  list-style-type: none;
}
.traffic-nav-link{
  padding: 8px 15px;
}

.traffic-active{
  background-color: #EB0909;
  color: #fff;
  border-radius: 16px;
}

/* Social Stats Styles ----------------------- */
.social-wrap{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0 40px;
  flex-wrap: wrap;
}
.social-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #EB0909;
  border-radius: 8px;
  padding: 25px;
  width: 60%;
  margin-bottom: 25px;
}
.social-image{
  max-width: 50px;
  width: 100%;
  background-color: #EB0909;
  padding: 15px;
  border-radius: 50%;

}

.social-text p:first-child{
  color: #EB0909;
  font-size: 18px;
  margin: 0;
}
.social-text p:last-child{
  font-size: 50px;
  margin: 0;
}
/* New Members Styles ----------------------- */
.members-container,
.recent-activity{
  display: flex;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid #ddd;
}
.members-container:last-child,
.recent-activity:last-child{
  border-bottom: none;
}
.profile-image{
  width:35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
}
.members-text{
  font-size: 12px;
}
.members-text a{
  color: #EB0909;
  text-decoration: none;;
}
.members-text a:hover{
  text-decoration: underline;
}
.members-container p,
.recent-activity p{
  margin: 0;
}
.members-container p:last-child,
.recent-activity p:last-child{
  margin-left: auto;
}
.activity-right{
  font-size: 30px
}
/* New Members Styles ----------------------- */
.widget-container{
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}
#userField{
  margin-bottom: 25px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid#ddd;
  background-color: #;
  padding-left: 15px;
}
#messageField{
  margin-bottom: 25px;
  border-radius: 5px;
  border: 1px solid #ddd;
  min-height: 100px;
  padding-left: 15px;
}
#send{
  padding: 15px;
  background-color: #EB0909;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}

.email-notifications-wrapper{
  margin: 25px 0;
}
.switch-ios.switch-light > span{
  width: 23%;
  max-width: 80px;
}

.settings p{
  float: left;
  padding-top: 7px;
  padding-right: 35px;
  margin: 0;
}
#timezone{
  display: flex;
  align-items: center;
  height: 50px;
  border: 1px solid#ddd;
  border-radius: 5px;
  justify-content: center;
  width: 100%;
}
.settings-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
#save{
  padding: 15px;
  background-color: #EB0909;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  width: 40%;

}
#cancel{
  padding: 15px;
  background-color: #B2B2B2;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  width: 40%;
}

/* Alert Bar Styles ----------------------- */

#alert{
  background-color: #EB0909;
  border-radius: 100px;
  width: 80%;
  display: block;
  margin: 20px auto;
}
.alert-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
}
.alert-banner p strong:first-child{
  text-decoration: underline;
}
.alert-banner-close{
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold;
  
}

@media(min-width: 768px){
  .grid{
    grid-template-columns: 60px 1fr;
    grid-template-rows: 55px auto;
    grid-template-areas:
      "header header"
      "nav main"
  }
  .traffic,
  .daily,
  .mobile-user,
  .members,
  .activity,
  .message,
  .settings,
  .social-section{
    width: 90%;
    margin: 20px auto;
    display: block;
  }
  main{
    grid-template-columns: 1fr;
  }
  .main-header, .traffic, .social-section, .alert{
    grid-column: 1 / span 2;
  }
  .daily, .members, .message {
    grid-column: 1 / span 1;
  }
  .mobile, .activity, .settings{
    grid-column: 2 / span 1;
  }
  .widget-container-full{
    width: 76vw;
  }
  .widget-container-half{
    width: 38vw;
  }
  .navigation{
    padding-top: 25px;
  }

  .active{
    border-left: 4px solid#fff;
    border-top: 4px solid #B90404;
    border-bottom: 4px solid#B90404;
    margin-left: -6px;
  }
  .social-container{
    width: 30%;
  }
  .user-name{
    padding-right: 25px;
    padding-top: 10px;
    display: inline;
  }
}


@media(min-width: 1024px){
  .social-container{
    width: 23%;
  }
  .traffic,
  .daily,
  .mobile-user,
  .members,
  .activity,
  .message,
  .settings{
    width: auto;
    margin: 20px;
    display: block;
  }
  .social-section{
    width: 100%;
  }
  .widget-container-full {
      width: 80vw;
  }
  .widget-container-half {
    width: 40vw;
  }
}