body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #676666;
}
.grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "header" 
    "nav" 
    "main";
}
header{
  grid-area: header;
  background-color: #EB0909;
  display: flex;
  padding-top: 8px;
  color: #fff;
}
nav{
  grid-area: nav;
  background-color: #B90404;
}

main{
  grid-area: main;
  display: grid;
}
.widget-container-full, .widget-container-half{
  width: 95vw;
}


/* header styles */
h1{
  margin-left: 25px;
  font-weight: 100;
}
#bell{
  width: 30px;
  margin-left: auto;
  padding-right: 15px;
  padding-top: 5px;
}
.user{
  display: flex;
  align-content: center;
  border-left: 1px solid #fff;
  margin-bottom: 5px;
}
.user-photo{
  width:35px;
  height: 35px;
  border-radius: 50%;
  padding: 0 15px;
}
.user-name{
  margin-right: 25px;
  padding-top: 10px;
}

/* navigation styles */
.navigation{
  display:block;
  margin: 0 auto;
  text-align: center;
}
nav img{
  display: inline-block;
  width: 30px;
  padding: 10px;
}
.active{
  border-bottom: 4px solid#fff;
  border-left: 4px solid #B90404;
  border-right: 4px solid#B90404;
  margin-bottom: -4px;
}

@media(min-width: 768px){
  .grid{
    grid-template-columns: 60px 1fr;
    grid-template-rows: 55px auto;
    grid-template-areas:
      "header header"
      "nav main"
  }
  main{
    grid-template-columns: 1fr;
  }
  .traffic, .social{
    grid-column: 1 / span 2;
  }
  .daily, .members, .message {
    grid-column: 1 / span 1;
  }
  .mobile, .acvitiy, .settings{
    grid-column: 2 / span 1;
  }
  .widget-container-full{
    width: 90vw;
  }
  .widget-container-half{
    width: 45vw;
  }
  .navigation{
    padding-top: 25px;
  }

  .active{
    border-left: 4px solid#fff;
    border-top: 4px solid #B90404;
    border-bottom: 4px solid#B90404;
    margin-left: -6px;
  }
}